.blog {
  background: $white;
  color: $black;
  font-family: $serif;

  a {
    @include single-transition(color, 0.2s, ease-in-out);
    color: $highlight;

    &:hover {
      color: darken($highlight, 10%);
    }
  }

  header.main {
    margin: 50px 0 100px;
  }

  h1 {
    @include font(400, 55px, 64px, $serif);
    text-align: center;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        color: $highlight;
      }
    }
  }

  h2 {
    @include font(300, 17px, 24px, $sans);
    text-align: center;
  }

  p, code, h1, h2, h3, form, footer .container , nav, ul { width: 800px; margin: 0 auto; }

  @media screen and (max-width: 600px) {
    p, code, h1, h2, h3, form, footer .container, nav, ul { width: 90%; }

    ul li { margin: 0 10% 10px !important; }

    h1 {
      font-size: 24px;
      @include font(600, 24px, 32px, $serif);
    }

    .main h2 {
      font-size: 14px;
      padding: 0 25px;
    }
  }

  footer {
    $darker: darken($white, 20%);
    background: darken($white, 5%);
    border-top: 1px solid darken($white, 10%);
    color: $darker;
    padding: 50px 0;
    margin: 50px auto 0;

    a {
      color: $darker;

      &:hover { color: darken($darker, 10%); }
    }
  }

  .entry {
    margin: 0 auto;

    header {
      margin: 60px 0 30px 0;
    }

    h1 {
      @include font(600, 64px, 72px, $serif);
      letter-spacing: -1px;
      margin: 0 auto 50px;
      text-align: left;

      a {
        color: $black;
        text-decoration: none;

        &:hover { color: $highlight; }
      }
    }

    h3 {
      @include font(400, 14px, 20px, $sans);
      color: darken($white, 20%);
    }

    .body {
      @include font(400, 20px, 30px, $serif);

      h2 {
        @include font(600, 24px, 32px, $serif);
        text-align: left;
      }

      img {
        margin: 0;
        width: 100%;
        display: block;

        &+ p, &+ h2 { margin-top: 1.6em; }
      }

      p, ul {
        margin: 0 auto 1.6em;
      }

      ul li {
        list-style: disc;
        margin: 0 50px 10px;
      }

      .caption {
        text-align: center;
      }

      code {
        display: block;
        background: darken($white, 5%);
        padding: 25px;
        margin: 25px auto;
        font-family: 'Courier New', courier, monospace;

        .file {
          font-weight: bold;
          margin-bottom: 25px;
        }
      }

      em { font-style: italic; }
      strong { font-weight: bold; }
    }
  }

  nav {

    ul {
      @include font(400, 18px, 24px, $serif);
    }

    li {
      list-style: disc;
      margin: 0 50px;
    }
  }

  &.with-title-image {

    img.header {
      position: relative;
      width: 100%;
    }

    header.main {
      position: absolute;
      z-index: 2;
      width: 100%;
      margin-top: 50px;
      top: 0;
    }

    &.light {

      header.main {
        color: $white;

        a {
          color: $white;

          &:hover {
            color: $highlight;
          }
        }
      }
    }
  }

  @include media(600px) {
    width: 100%;

    h2 {
      padding: 25px;
    }

    header {
      margin: 0 0 30px 0;
    }

    code {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.form {

  h2 {
    @include font(400, 24px, 32px, $sans);
    margin: 30px 0;
  }

  input[type=text], input[type=submit], textarea {
    @include font(400, 18px, 24px, $serif);
    width: 100%;
    padding: 20px;
    border: 1px solid $gray;
    outline: none;
    resize: none;
  }

  input[type=submit] {
    background: $highlight;
    color: $white;
    cursor: pointer;
    width: 400px;
    margin: 0 auto;
  }

  p.private {
    margin: 30px 0;
  }
}

nav#pagination {
  margin: 50px auto;

  ul {
    @include clearfix;
  }

  li {

    &.previous {
      @include float-left;
    }

    &.next {
      @include float-right;
    }
  }
}
