$fonts: 'helveticaregular', 'hevleticabold', 'FontAwesome';

$sans: 'Helvetica', Arial, Sans-Serif;
$serif: nth($fonts, 1), Georgia, Serif;
$serif-bold: nth($fonts, 2), Georgia, Serif;

@each $font in $fonts {
  @include font-face(
    $font,
    font-files(
      '#{$font}.woff', woff,
      '#{$font}.ttf', truetype,
      '#{$font}.svg##{$font}', svg
    ),
    '#{$font}.eot',
    normal,
    normal
  );
}

@mixin font($weight, $size, $leading, $font-family) {
  font: $weight #{$size}/#{$leading} $font-family;
  -webkit-font-smoothing: antialiased;
}

@mixin font-awesome-icon($icon-unicode) {

  &:before {
    content: $icon-unicode;
    position: absolute;
  }
}
