$item-height: 780px;

ul#work {

  li {
    height: $item-height;
    @include clearfix;

    &:nth-child(even) {
      background: $white;

      a {
        color: $highlight;
      }
    }

    &:nth-child(odd) {
      background: $highlight;

      a {
        color: $white;
      }
    }

    a {
      text-decoration: none;

      .site {
        width: 1095px;
        margin: 0 auto;
        padding-top: 185px;

        .meta {
          @include float-left;
          width: 435px;
          padding-right: 25px;

          h2 {
            @include serif(48px);
            margin: 0 0 25px 0;
          }

          p {
            @include sans(15px);
            line-height: 24px;
            width: 300px;
          }
        }

        .imac {
          @include float-left;
          position: relative;

          img {

            &:nth-child(1) {

            }

            &:nth-child(2) {
              position: absolute;
              left: 25px;
              top: 29px;
              height: 326px;
              width: 584px;
            }
          }
        }
      }
    }

    &#contact {
      background: $highlight;
      color: $white;
      text-align: center;

      h1 {
        @include serif(48px);
        line-height: 64px;
        padding-top: 100px;
      }

      h2 {
        @include sans(15px);
        line-height: 36px;
        margin-bottom: 25px;
      }

      form {
        width: 400px;
        margin: 0 auto;
        text-align: left;

        label {
          @include sans(15px);
          display: block;
          text-align: center;
          color: $error;
          margin-bottom: 25px;
        }

        p {
          margin-bottom: 25px;


          input[type=text], input[type=email], textarea {
            @include sans(15px);
            @include placeholder(lighten($black, 40%));
            outline: none;
            background: $white;
            color: $black;
            width: 380px;
            padding: 10px;
            border: none;

            &.error { outline: 1px solid $error; }
          }

          textarea {
            height: 100px;
            resize: none;
          }

          input[type=submit] {
            @include serif(18px);
            @include background(linear-gradient(top, darken($highlight, 17%), darken($highlight, 17%) 50%, darken($highlight, 20%) 51%, darken($highlight, 20%) 100%));
            width: 400px;
            padding: 10px 0;
            border: none;
            color: $white;
            cursor: pointer;

            &:hover {
              @include background(linear-gradient(top, darken($highlight, 22%), darken($highlight, 22%) 50%, darken($highlight, 25%) 51%, darken($highlight, 25%) 100%));
            }

            &:active {
              @include background(linear-gradient(top, darken($highlight, 27%), darken($highlight, 27%) 50%, darken($highlight, 30%) 51%, darken($highlight, 30%) 100%));
            }
          }

          .notification {
            @include sans(12px);
            text-align: center;
            padding: 20px;
          }
        }
      }
    }
  }

  @include media(1150px) {
    li {
      height: 800px;

      a {

        .site {
          width: 100%;
          padding-top: 50px;

          .meta {
            float: none;
            width: auto;

            h2 {
              text-align: center;
            }

            p {
              margin: 0 auto 25px;
              text-align: center;
              width: 600px;
            }
          }

          .imac {
            float: none;
            display: block;
            width: 633px;
            margin: 0 auto;

            img {

              &:nth-child(1) {
                position: absolute;
              }
            }
          }
        }
      }

      &#contact {
        height: 500px;
        padding-top: 50px;

        h1 {
          padding-top: 0;
        }
      }
    }
  }

  @include media(801px) {

    li {
      height: 625px;

      a {

        .site {

          .meta {

            h2 {

            }

            p {
              width: 400px;
            }
          }

          .imac {
            width: 400px;

            img {

              &:nth-child(1) {
                width: 400px;
                height: auto;
              }

              &:nth-child(2) {
                left: 16px;
                top: 19px;
                width: 370px;
                height: 206px;
              }
            }
          }
        }
      }
    }
  }

  @include media(480px) {

    li {
      height: 575px;

      a {

        .site {

          .meta {

            h2 {
              @include serif(32px);
              width: 300px;
              margin: 0 auto 25px;
            }

            p {
              width: 300px;
            }
          }

          .imac {
            width: 300px;

            img {

              &:nth-child(1) {
                width: 300px;
              }

              &:nth-child(2) {
                left: 12px;
                top: 14px;
                width: 277px;
                height: 156px;
              }
            }
          }
        }
      }

      &#contact {
        height: 450px;

        h1 {
          @include serif(32px);
        }

        h2 {
          @include sans(11px);
          width: 300px;
          margin: 10px auto;
        }

        form {
          width: 100%;

          p {

            input[type=text], input[type=submit], input[type=email], textarea {
              width: 70%;
              margin: 0 auto 15px;
              display: block;
              padding: 10px;
            }

            input[type=submit] {
              width: 75%;
            }
          }
        }
      }
    }
  }
}
