.blog {
  background: $white;
  color: $black;
  font-family: $serif;
  padding: 50px 0;

  a { color: $highlight; }

  h1 {
    @include font(400, 55px, 64px, $serif);
    text-align: center;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        color: $highlight;
      }
    }
  }

  h2 {
    @include font(300, 17px, 24px, $sans);
    text-align: center;
  }


  p, code, h1, h3, form, footer, nav { width: 800px; margin: 0 auto; }

  @media screen and (max-width: 600px) { p, code, h1, h3, form, footer, nav { width: 90%; } }

  footer {
    margin: 50px auto 0;
    text-align: center;
  }

  .entry {
    margin: 0 auto;

    header {
      margin: 100px 0 30px 0;
    }

    h1 {
      @include font(600, 36px, 40px, $serif);

      a {
        color: $black;
        text-decoration: none;

        &:hover { color: $highlight; }
      }
    }

    h3 {
      @include font(400, 14px, 20px, $sans);
      text-align: center;
      margin: 25px auto;
    }

    .body {
      @include font(400, 20px, 30px, $serif);

      h2 {
        @include font(600, 24px, 32px, $serif);
        margin: 100px 0 15px;
      }

      img {
        margin: 0;
        width: 100%;
        display: block;

        &+ p { margin: 15px auto; }
      }

      p {
        margin: 0 auto 15px;
      }

      .caption {
        text-align: center;
      }

      code {
        display: block;
        background: darken($white, 5%);
        padding: 25px;
        margin: 25px auto;
        font-family: 'Courier New', courier, monospace;

        .file {
          font-weight: bold;
          margin-bottom: 25px;
        }
      }

      em { font-style: italic; }
      strong { font-weight: bold; }
    }
  }
}

.form {

  h2 {
    @include font(400, 24px, 32px, $sans);
    margin: 30px 0;
  }

  input[type=text], input[type=submit], textarea {
    @include font(400, 18px, 24px, $serif);
    width: 100%;
    padding: 20px;
    border: 1px solid $gray;
    outline: none;
    resize: none;
  }

  input[type=submit] {
    background: $highlight;
    color: $white;
    cursor: pointer;
    width: 400px;
    margin: 0 auto;
  }

  p.private {
    margin: 30px 0;
  }
}

nav#pagination {
  margin: 50px auto;

  ul {
    @include clearfix;
  }

  li {

    &.previous {
      @include float-left;
    }

    &.next {
      @include float-right;
    }
  }
}
