$item-height: 780px;

.intro {
  width: 100%;
  height: $item-height;
  background: $white;

  $header-width: 601px;

  h1 {
    width: $header-width;
    margin: 0 auto;
    padding-top: 200px;
    font: $french;

    .name {
      color: $black;
      font: $ryan;
    }
  }

  h2 {
    width: $header-width;
    margin: 32px auto;
    font: $french;
  }

  p {
    width: $header-width;
    margin: 0 auto;
    font: $description;

    a {
      color: $orange;
    }
  }
}

.down-arrow {
  position: fixed;
  width: 250px;
  right: 100px;
  bottom: 100px;
  color: $black;
  text-decoration: none;
  font: 300 15px/15px 'Helvetica', Arial, Sans-serif;
  @include single-transition(all, 0.15s, ease-in-out);

  i.icon-circle-arrow-down {
    font-size: 120px;
  }

  span {
    position: relative;
    top: -18px;
    margin-left: 15px;
  }

  &:hover {
    color: $orange;
  }

  &.back-to-top {
    @include transition-duration(0.5s);
    @include rotate(-180deg);
  }

  &.dark {
    color: $white;

    &:hover {
      color: $orange;
    }
  }
}

ul#work {

  a {
    text-decoration: none;

    &:nth-child(odd) {
      img {
        @include float-left;
      }

      .desc {
        @include float-right;
        text-align: left;
        margin-left: 15px;
      }
    }

    &:nth-child(even) {
      img {
        @include float-right;
      }

      .desc {
        @include float-left;
        text-align: right;
        margin-right: 15px;
      }
    }

    li {
      height: $item-height;

      .meta {
        width: 960px;
        margin: 0 auto;
        padding-top: 225px;

        img {
          width: 593px;
        }

        .desc {
          width: 352px;

          h2 {
            font: $sitename;
          }

          p {
            font: $description;
          }
        }
      }
    }
  }
}

footer {
  background-color: $black;
  height: 80px;

  a {
    color: $white;
    text-decoration: none;
  }

  h1 {
    font: $ryan;
    font-size: 14px;
  }
}
